<div class="col mb-5">
    <div class="card h-100">
        <a routerLink="products/{{ product.id }}">
            <img class="card-img-top" src="{{ product.url }}"/>
        </a>
        <div class="card-body p-4">
            <div class="text-center">
                <h5 class="fw-bolder">{{ product.name }}</h5>
                $ {{ product.price }}
            </div>
        </div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center form-group p-4">
                <select class="form-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
            </div>
            <div class="text-center form-group"><a class="btn btn-outline-dark mt-auto" (click)="addToCart()">Add to Cart</a></div>
        </div>
    </div>
</div>