<div class="row gx-4 gx-lg-5 align-items-center">
  <div class="col-md-6">
    <img class="card-img-top mb-5 mb-md-0" src="{{ product.url }}" />
  </div>
  <div class="col-md-6">
    <div class="small mb-1"><a routerLink="/">Back to Products</a></div>
    <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
    <div class="fs-5 mb-5">
      <span>${{ product.price }}</span>
    </div>
    <p class="lead">{{ product.description }}</p>
    <div class="col-auto">
      <select class="form-select mb-3" [(ngModel)]="selectedQuantity">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
    </div>
    <div class="col-auto">
      <button class="btn btn-outline-dark flex-shrink-0" type="button" (click)="addToCart(product.id)">
        <i class="bi-cart-fill me-1"></i>
        Add to Cart
      </button>
    </div>
  </div>
</div>